@import url(https://fonts.googleapis.com/css?family=Arimo);
label[for="file-input"] {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #fff;
  opacity: .9;
  font-weight: bold;
}

input[type="file"] {
  cursor: pointer !Important;
}
input[type="file"]::-webkit-file-upload-button {
  background: #E62163;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: .2em;
}
input[type="file"]::-ms-browse {
  background: #E62163;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: .2em;
}

body {
  margin: 2em;
  background-image: url("../images/bg-banana.jpeg");
  background-repeat: ;
  background-size: cover;
  font-family: 'Arimo', sans-serif;
  color: #fff;
}

.header span {
  border-style: solid;
  border-color: white;
  padding: 15px;
  border-width: 8px;
}

.header {
  text-align: center;
}
.mainContent {
  margin-left: 80px;
}
hr {
  opacity: .3;
  margin: 2em 0;
}

.spanSteps {
  color: white;
  background-color: rgb(255, 255, 255, 0.3)
}

/************** SIDE NAV CSS **************/
#mySidenav a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 10px;
  width: 120px;
  text-decoration: none;    
  font-size: 2em;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#yourFridge {
    top: 20px;
    background-color: #E62163;
}

#blog {
    top: 120px;
    background-color: #E62163;
}

#projects {
    top: 140px;
    background-color: #E62163;
}

#contact {
    top: 200px;
    background-color: #E62163;
}

/************** SIDE NAV CSS **************/