@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
.hidden {
    display: none;
}
.disabled {
    opacity: 0;
}
.food-list {
    overflow-y: scroll;
}
.selectable {
    display: none;
    position: absolute;
    left: 4px;
}
.selectable:checked + label {
    background-color: rgb(255, 180, 180);
    clear: left;
}
.food-item {
    display: block;
    width: 100%;
    font-size: 13pt;
    margin: 0 0 0 0;
    user-select: none;
}
.food-item-grains {
    background-color: #e9b72d75;
    border-bottom:1px dotted #eee;
}
.food-item-meats {
    background-color: #f79178;
    border-bottom:1px dotted #eee;
}
.food-item-dairy {
    background-color: #f0f8ff;
    border-bottom:1px dotted #eee;
}
.food-item-fruits {
    background-color: #f3f051;
    border-bottom:1px dotted #eee;
}
.food-item-vegetables {
    background-color: #84f779;
    border-bottom:1px dotted #eee;
}
#edit-button-grains, #edit-button-meats, #edit-button-dairy, #edit-button-fruits, #edit-button-vegetables {
    left: right;
    color: rgb(96, 96, 194);
    font-size: 13pt;
    line-height: 0;
    cursor: pointer;
    user-select: none;
    opacity: 1;
    -webkit-transition: opacity 0.8s ease-in-out; /*@TO-DO: transition between edit and cancel still not working*/
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
}
#cancel-button-grains, #cancel-button-meats, #cancel-button-dairy, #cancel-button-fruits, #cancel-button-vegetables {
    left: right;
    color: rgb(96, 96, 194);
    font-size: 13pt;
    font-weight: bold;
    line-height: 0;
    cursor: pointer;
    user-select: none;
    opacity: 1;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
}
#delete-button-grains, #delete-button-meats, #delete-button-dairy, #delete-button-fruits, #delete-button-vegetables {
    position: relative;
    top: 35px;
    left: 3%;
    color: grey;
    font-size: 13pt;
    line-height: 0;
    display: block;
    cursor: default;
    user-select: none;
    opacity: 0;
}
#select-all-grains, #select-all-meats, #select-all-dairy, #select-all-fruits, #select-all-vegetables {
    position: relative;
    top: 35px;
    left: 83%;
    color: rgb(96, 96, 194);
    font-size: 13pt;
    line-height: 0;
    display: block;
    cursor: pointer;
    user-select: none;
    opacity: 0;
}
#add-slider-grains, #add-slider-meats, #add-slider-dairy, #add-slider-fruits, #add-slider-vegetables {
    max-height: 0px;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  #add-slider-grains.opened, #add-slider-meats.opened, #add-slider-dairy.opened, #add-slider-fruits.opened, #add-slider-vegetables.opened{
    max-height: 200px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
#add-slider-grains {
    background-color: #e9b72d75;
}
#add-slider-meats {
    background-color: #f79178;
}
#add-slider-dairy {
    background-color: #f0f8ff;
}
#add-slider-fruits {
    background-color: #f3f051;
}  
#add-slider-vegetables {
    background-color: #84f779;
}
label {
    display: block;
    padding-left: 5%;
}
input {
    background-color: #f1f1f1;
}
::placeholder {
    color: rgb(96, 96, 194);
}
input[type=submit] {
    margin-left: 5%;
    border-radius: 5px;
    color: rgb(96, 96, 194);
}
input[type=text], input[type=date] {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: 1px solid #81818175;
    padding: 2%;
    border-radius: 5px;
    color: rgb(96, 96, 194);
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    color: rgb(96, 96, 194);
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  .food-suggestions {
      width: 90%;
      margin: 0 auto;
      border-radius: 5px;
  }

/********************************************
*                                           *
*               IPHONE 5/SE                 *
*                                           *
********************************************/
/* for 414px or less */
@media only screen 
    and (device-width: 320px)
    and (device-height: 568px)
    and (-webkit-device-pixel-ratio : 2) {
        html {
            background: url("../images/Fridge_iPhone5SE.png") no-repeat center center fixed;
            /*background-size: cover;*/
          }
          img {
            transform: scale(0.45);
            height: auto;
          }
        
          .hover:active {
            transform: scale(0.50);
            filter: drop-shadow(16px 16px 16px #ffffff);
        }
          .fridge_container {
            position: relative;
            /*1st level: 85px
              2nd level: 520px
              3rd level: 1000px
              4th level: 1415px*/
          }
          #camera {
              position: absolute;
              top: -10px;
              left: -15px;
          }
          #plus {
              position: absolute;
              top: 10px;
              left: 125px;
          }
          #logout {
              position: absolute;
              top: -35px;
              left: 200px;
              transform: scale(0.6);
          }
          #toast {
              position: absolute;
              top: 65px;
              left: 25px;
          }
          #steak {
              position: absolute;
              top: 220px;
              left: -40px;
          }
          #milk {
              position: absolute;
              top: 220px;
              left: 90px;
          }
          #banana {
              position: absolute;
              top: 360px;
              left: -40px;
          }
          #cabbage {
              position: absolute;
              top: 360px;
              left: 90px;
          }
          .modal-header-meats {
              color:#fff;
              padding:9px 15px;
              border-bottom:1px dotted #eee;
              background-color: #f79178;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-top-right-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-topright: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
          }
          .modal-footer-meats {
            color:#fff;
            height: 35px;
            background-color: #f79178;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
           }
          .modal-header-fruits {
              color:#fff;
            padding:9px 15px;
            border-bottom:1px dotted #eee;
            background-color: #f3f051;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
             border-top-left-radius: 5px;
             border-top-right-radius: 5px;
          }
          .modal-footer-fruits {
            color:#fff;
            height: 35px;
            background-color: #f3f051;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .modal-header-vegetables {
              color:#fff;
            padding:9px 15px;
            border-bottom:1px dotted #eee;
            background-color: #84f779;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          .modal-footer-vegetables {
            color:#fff;
            height: 35px;
            background-color: #84f779;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .modal-header-dairy {
              color:rgb(7, 7, 7);
              padding: 9px 15px;
              border-bottom:1px dotted #eee;
              background-color: #f0f8ff;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-top-right-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-topright: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
          }
          .modal-footer-dairy {
            color:rgb(7, 7, 7);
            height: 35px;
            background-color: #f0f8ff;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .modal-header-grains {
              color:rgb(0, 0, 0);
              padding:9px 15px;
              border-bottom:1px dotted #eee;
              background-color: #e9b72d75;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-top-right-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-topright: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
          }
          .modal-footer-grains {
            color:#fff;
            height: 35px;
            background-color: #e9b72d75;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .add {
            position: absolute;
            left: 204px;
            top: 35px;
            transform: scale(0.65);
          }
          .add:active {
              transform: scale(0.85);
              filter: brightness(1.2);
              transition: all 0.20s;
          }
          #select-all-grains, #select-all-meats, #select-all-dairy, #select-all-fruits, #select-all-vegetables {
            position: relative;
            top: 35px;
            left: 68%;
            color: rgb(96, 96, 194);
            font-size: 13pt;
            line-height: 0;
            display: block;
            cursor: pointer;
            user-select: none;
            opacity: 0;
        }
        
          .override-position {
              position:absolute;
              top: 154px;
          }
}  
/********************************************
*                                           *
*               IPHONE 6/7/8                *
*                                           *
********************************************/
/* for 414px or less */
@media only screen 
    and (device-width: 375px)
    and (device-height: 667px)
    and (-webkit-device-pixel-ratio : 2) {
        html {
            background: url("../images/Fridge_iPhone678.png") no-repeat center center fixed;
            /*background-size: cover;*/
          }
          img {
            transform: scale(0.5);
            height: auto;
          }
        
          .hover:hover {
            transform: scale(0.55);
            filter: drop-shadow(16px 16px 16px #ffffff);
        }
          .fridge_container {
            position: relative;
            /*1st level: 85px
              2nd level: 520px
              3rd level: 1000px
              4th level: 1415px*/
          }
          #camera {
              position: absolute;
              top: 7px;
          }
          #plus {
              position: absolute;
              top: 10px;
              left: 125px;
          }
          #logout {
              position: absolute;
              top: -35px;
              left: 260px;
              transform: scale(0.6);
          }
          #toast {
              position: absolute;
              top: 105px;
              left: 50px;
          }
          #steak {
              position: absolute;
              top: 285px;
              left: -25px;
          }
          #milk {
              position: absolute;
              top: 285px;
              left: 120px;
          }
          #banana {
              position: absolute;
              top: 450px;
              left: -25px;
          }
          #cabbage {
              position: absolute;
              top: 450px;
              left: 120px;
          }
          .modal-header-meats {
              color:#fff;
              padding:9px 15px;
              border-bottom:1px dotted #eee;
              background-color: #f79178;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-top-right-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-topright: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
          }
          .modal-footer-meats {
            color:#fff;
            height: 35px;
            background-color: #f79178;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
           }
          .modal-header-fruits {
              color:#fff;
            padding:9px 15px;
            border-bottom:1px dotted #eee;
            background-color: #f3f051;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
             border-top-left-radius: 5px;
             border-top-right-radius: 5px;
          }
          .modal-footer-fruits {
            color:#fff;
            height: 35px;
            background-color: #f3f051;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .modal-header-vegetables {
              color:#fff;
            padding:9px 15px;
            border-bottom:1px dotted #eee;
            background-color: #84f779;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
          .modal-footer-vegetables {
            color:#fff;
            height: 35px;
            background-color: #84f779;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .modal-header-dairy {
              color:rgb(7, 7, 7);
              padding: 9px 15px;
              border-bottom:1px dotted #eee;
              background-color: #f0f8ff;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-top-right-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-topright: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
          }
          .modal-footer-dairy {
            color:rgb(7, 7, 7);
            height: 35px;
            background-color: #f0f8ff;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .modal-header-grains {
              color:rgb(0, 0, 0);
              padding:9px 15px;
              border-bottom:1px dotted #eee;
              background-color: #e9b72d75;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-top-right-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-topright: 5px;
               border-top-left-radius: 5px;
               border-top-right-radius: 5px;
          }
          .modal-footer-grains {
            color:#fff;
            height: 35px;
            background-color: #e9b72d75;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
             border-bottom-left-radius: 5px;
             border-bottom-right-radius: 5px;
          }
          .add {
            position: absolute;
            left: 255px;
            top: 35px;
            transform: scale(0.65);
          }
          .add:active {
              transform: scale(0.85);
              filter: brightness(1.2);
              transition: all 0.20s;
          }
          #select-all-grains, #select-all-meats, #select-all-dairy, #select-all-fruits, #select-all-vegetables {
            position: relative;
            top: 35px;
            left: 73%;
            color: rgb(96, 96, 194);
            font-size: 13pt;
            line-height: 0;
            display: block;
            cursor: pointer;
            user-select: none;
            opacity: 0;
        }
        
          .override-position {
              position:absolute;
              top: 156px;
          }
}
/********************************************
*                                           *
*             IPHONE 6/7/8 PLUS             *
*                                           *
********************************************/
@media only screen
    and (device-width: 414px)
    and (device-height: 736px)
    and (-webkit-device-pixel-ratio: 3) {

  html {
    background: url("../images/Fridge_iPhone678Plus.png") no-repeat center center fixed;
  }
  img {
    transform: scale(0.55);
    height: auto;
  }

  .hover:hover {
    transform: scale(0.6);
    filter: drop-shadow(16px 16px 16px #ffffff);
}
  .fridge_container {
    position: relative;
    /*1st level: 85px
      2nd level: 520px
      3rd level: 1000px
      4th level: 1415px*/
  }
  #camera {
      position: absolute;
      top: 18px;
  }
  #plus {
      position: absolute;
      top: 15px;
      left: 125px;
  }
  #logout {
      position: absolute;
      top: -30px;
      left: 290px;
      transform: scale(0.75);
  }
  #toast {
      position: absolute;
      top: 130px;
      left: 70px;
  }
  #steak {
      position: absolute;
      top: 335px;
      left: -20px;
  }
  #milk {
      position: absolute;
      top: 335px;
      left: 150px;
  }
  #banana {
      position: absolute;
      top: 510px;
      left: -20px;
  }
  #cabbage {
      position: absolute;
      top: 510px;
      left: 150px;
  }
  .modal-header-meats {
      color:#fff;
      padding:9px 15px;
      border-bottom:1px dotted #eee;
      background-color: #f79178;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
  }
  .modal-footer-meats {
    color:#fff;
    height: 35px;
    background-color: #f79178;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   }
  .modal-header-fruits {
  	color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f3f051;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
  }
  .modal-footer-fruits {
    color:#fff;
    height: 35px;
    background-color: #f3f051;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .modal-header-vegetables {
  	color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #84f779;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .modal-footer-vegetables {
    color:#fff;
    height: 35px;
    background-color: #84f779;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .modal-header-dairy {
      color:rgb(7, 7, 7);
      padding: 9px 15px;
      border-bottom:1px dotted #eee;
      background-color: #f0f8ff;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
  }
  .modal-footer-dairy {
    color:rgb(7, 7, 7);
    height: 35px;
    background-color: #f0f8ff;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .modal-header-grains {
  	color:rgb(0, 0, 0);
      padding:9px 15px;
      border-bottom:1px dotted #eee;
      background-color: #e9b72d75;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
  }
  .modal-footer-grains {
    color:#fff;
    height: 35px;
    background-color: #e9b72d75;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .add {
    position: absolute;
    left: 295px;
    top: 35px;
    transform: scale(0.65);
  }
  .add:active {
      transform: scale(0.85);
      filter: brightness(1.2);
      transition: all 0.20s;
  }
  #select-all-grains, #select-all-meats, #select-all-dairy, #select-all-fruits, #select-all-vegetables {
    position: relative;
    top: 35px;
    left: 75%;
    color: rgb(96, 96, 194);
    font-size: 13pt;
    line-height: 0;
    display: block;
    cursor: pointer;
    user-select: none;
    opacity: 0;
}

  .override-position {
      position:absolute;
      top: 158px;
  }
}

/********************************************
*                                           *
*            MACBOOK AIR 14 INCH            *
*                                           *
********************************************/
/* for 415px or more */
@media screen and (min-width: 415px) {

  html {
    background: url("../images/emptyroom.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  img {
    transform: scale(0.6);
    height: auto;
  }
  #logout:hover {
    animation: swing ease-in-out 0.5s infinite alternate;
    transform-origin: top -20px;
    top: -25px;
  }
  .hover:hover {
    transform: scale(0.65);
    filter: drop-shadow(16px 16px 16px #ffffff);
  }
  .fridge_container { 
    background-image:url("../images/fridge_ipad.png");
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 0 0;
    width: 600px;
    height: 790px;
    border: 5px solid rgb(190, 183, 183);
   }
  #camera {
    position: absolute;
    top: 25px;
   }
#plus {
    position: absolute;
    top: 15px;
    left: 200px;
   }
  #logout {
      position: absolute;
      top: -40px;
      left: 460px;
  }
  #toast {
      position: absolute;
      top: 150px;
      left: 160px;
  }
  #steak {
      position: absolute;
      top: 360px;
      left: 50px;
  }
  #milk {
      position: absolute;
      top: 360px;
      left: 270px;
  }
  #banana {
      position: absolute;
      top: 560px;
      left: 50px;
  }
  #cabbage {
      position: absolute;
      top: 560px;
      left: 270px;
  }
  .modal-header-meats {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f79178;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
  }
  .modal-footer-meats {
    background-color: #f79178;
    color:#fff;
    height: 35px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.modal-header-fruits {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f3f051;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-footer-fruits {
    color:#fff;
    height: 35px;
    background-color: #f3f051;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.modal-header-vegetables {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #84f779;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-vegetables {
    color:#fff;
    height: 35px;
    background-color: #84f779;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
.modal-header-dairy {
    color:rgb(7, 7, 7);
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f0f8ff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-dairy {
    color:#fff;
    height: 35px;
    background-color: #f0f8ff;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
.modal-header-grains {
    color:rgb(0, 0, 0);
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #e9b72d75;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-grains {
    color:#fff;
    height: 35px;
    background-color: #e9b72d75;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .add {
    position: absolute;
    left: 82%;
    top: 35px;
  }
  .add:hover {
    transform: scale(0.75);
    filter: saturate(3);
    filter: brightness(1.2);
    transition: color 2s;
  }

  .override-position {
      position:absolute;
      top: 166px;
  }
}

