@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  font-family: "Lato", sans-serif;
  background-image: url("../images/pattern.png");
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: #b3b3b3;
  text-align: center;
  font-size: 11vw;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

h2 {
  text-align: center;
  font-size: 9vw;
  font-family: 'Fredoka One', cursive !important;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.logo {
  max-height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  font-size: 4vw;
  font-family: 'Comfortaa', cursive;
}

.gif {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  padding: 5px;
  max-height: 500px;
  max-width: 500px;
}

/******** CHOOSE FILE BUTTON ********/

input[type="file"] {
  cursor: pointer !Important;
}

input[type="file"]::-webkit-file-upload-button {
  background: #b3b3b3;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: .2em;
}
input[type="file"]::-ms-browse {
  background: #E62163;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: .2em;
}
/******** CHOOSE FILE BUTTON ********/

/******** SIDE NAV MENU ********/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;;
  display: block;
  transition: 0.3s;
  font-family: 'Fredoka One', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  color: white;
  border: 15px solid rgba(255, 255, 255, 0.8);
}

#main span {
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  font-family: 'Fredoka One', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.whiteBg {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
}

/******** SIDE NAV MENU ********/

/******** COLLAPSIBLE ********/
.collapsible {
    background-color: rgba(166, 166, 166, 0.8);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  font-family: 'Comfortaa', cursive;
}

.active, .collapsible:hover {
    background-color: rgba(166, 166, 166, 0.8);
}

.content {
    padding: 0 18px;
    margin-bottom: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    color: black;
}
/******** COLLAPSIBLE ********/

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 25px;}
  .collapsible {
    padding: 10px;
  }
  
  }
}