@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import url('https://fonts.googleapis.com/css?family=Kite+One');

<<<<<<< HEAD

.hero-image {
    background-image: url("../images/pattern.png") !important;
    /* Set a specific height */
    height: 35%;

    /* Position and center the image to scale nicely on all screens */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: relative;

    /* shadow underneath image */
    box-shadow: 7px 5px 2px #d9d9d9;
}


=======
>>>>>>> 59b77c012850ad7f02fda6bfafc9cae1eadde0ed
body {
  background-color: #ebebe0;
  font-family: 'Kite One', sans-serif;
}

body, html {
    height: 100%;
}

/* h1 {
  text-shadow: 2px 2px black;
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px black;
} */

h2 {
  text-transform: uppercase;
  text-align: center;
}

h2 > span {
  background-color: white;
  padding: 5px;
  box-shadow: 5px 5px 5px #d9d9d9;
}

.hero-text span {
  border: 2px solid white;
  padding: 20px;
  text-shadow: 2px 2px black;
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

input {
  font-size: 1em;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  color: black;
}

#main > span {
  font-size: 1.5em;
  cursor: pointer;
  color: black;
  font-family: 'Kite One', sans-serif;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: black; */
  /* text-shadow: 2px 2px black; */
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/******** HERO IMAGE ********/
.hero-image {
    background-image: url("../images/pattern.png") !important;
    /* Set a specific height */
    height: 35%;

    /* Position and center the image to scale nicely on all screens */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: relative;

    /* shadow underneath image */
    box-shadow: 7px 5px 2px #d9d9d9;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5vw;
}
/******** HERO IMAGE ********/

/******** SIDE NAV MENU ********/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;;
  display: block;
  transition: 0.3s;
  font-family: 'Kite One', sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/******** SIDE NAV MENU ********/
