@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

.hidden {
    display: none;
}
.disabled {
    opacity: 0;
}

.food-list {
    overflow-y: scroll;
}

.selectable {
    display: none;
    position: absolute;
    left: 4px;
}

.selectable:checked + label {
    background-color: rgb(255, 180, 180);
    clear: left;
}

.food-item {
    display: block;
    width: 100%;
    font-size: 13pt;
    margin: 0 0 0 0;
}
.food-item-grains {
    background-color: #e9b72d75;
    border-bottom:1px dotted #eee;
}
.food-item-meats {
    background-color: #f79178;
    border-bottom:1px dotted #eee;
}
.food-item-dairy {
    background-color: #f0f8ff;
    border-bottom:1px dotted #eee;
}
.food-item-fruits {
    background-color: #f3f051;
    border-bottom:1px dotted #eee;
}
.food-item-vegetables {
    background-color: #84f779;
    border-bottom:1px dotted #eee;
}
#edit-button-grains, #edit-button-meats, #edit-button-dairy, #edit-button-fruits, #edit-button-vegetables {
    left: right;
    color: rgb(96, 96, 194);
    font-size: 13pt;
    line-height: 0;
    cursor: pointer;
    user-select: none;
    opacity: 1;
    -webkit-transition: opacity 0.8s ease-in-out; /*@TO-DO: transition between edit and cancel still not working*/
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
}

#cancel-button-grains, #cancel-button-meats, #cancel-button-dairy, #cancel-button-fruits, #cancel-button-vegetables {
    left: right;
    color: rgb(96, 96, 194);
    font-size: 13pt;
    font-weight: bold;
    line-height: 0;
    cursor: pointer;
    user-select: none;
    opacity: 1;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
}

#delete-button-grains, #delete-button-meats, #delete-button-dairy, #delete-button-fruits, #delete-button-vegetables {
    float: center;
    color: rgb(255, 0, 0);
    font-size: 13pt;
    line-height: 0;
    display: none;
    cursor:pointer;
    user-select: none;
}
.add-slider {
    max-height: 0px;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .add-slider.opened {
    max-height: 200px;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

/**************************************************************************************************************************************************************
MEDIA QUERIES
***************************************************************************************************************************************************************/
/* for 414px or less */
@media screen and (max-width: 414px) {
  html {
    background: url("../images/fridge_mobile.png") no-repeat center center fixed;
    /*background-size: cover;*/
  }
  img {
    transform: scale(0.5);
    height: auto;
  }

  .hover:hover {
    transform: scale(0.65);
    filter: drop-shadow(16px 16px 16px #ffffff);
}
  .fridge_container {
    position: relative;
    /*1st level: 85px
      2nd level: 520px
      3rd level: 1000px
      4th level: 1415px*/
  }
  #camera {
      position: absolute;
      top: 20px;
  }
  #plus {
      position: absolute;
      top: 15px;
      left: 125px;
  }
  #logout {
      position: absolute;
      top: -30px;
      left: 300px;
  }
  #toast {
      position: absolute;
      top: 135px;
      left: 80px;
  }
  #steak {
      position: absolute;
      top: 335px;
      left: 10px;
  }
  #milk {
      position: absolute;
      top: 335px;
      left: 150px;
  }
  #apple {
      position: absolute;
      top: 510px;
      left: 10px;
  }
  #cabbage {
      position: absolute;
      top: 510px;
      left: 150px;
  }
  .modal-header-meats {
      color:#fff;
      padding:9px 15px;
      border-bottom:1px dotted #eee;
      background-color: #f79178;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
  }
  .modal-footer-meats {
    color:#fff;
    height: 35px;
    background-color: #f79178;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   }
  .modal-header-fruits {
  	color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f3f051;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
  }
  .modal-footer-fruits {
    color:#fff;
    height: 35px;
    background-color: #f3f051;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .modal-header-vegetables {
  	color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #84f779;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .modal-footer-vegetables {
    color:#fff;
    height: 35px;
    background-color: #84f779;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .modal-header-dairy {
      color:rgb(7, 7, 7);
      padding:9px 15px;
      border-bottom:1px dotted #eee;
      background-color: #f0f8ff;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
  }
  .modal-footer-dairy {
    color:rgb(7, 7, 7);
    height: 35px;
    background-color: #f0f8ff;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .modal-header-grains {
  	color:rgb(0, 0, 0);
      padding:9px 15px;
      border-bottom:1px dotted #eee;
      background-color: #e9b72d75;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
  }
  .modal-footer-grains {
    color:#fff;
    height: 35px;
    background-color: #e9b72d75;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .add {
    position: absolute;
    left: 308px;
    top: 50px;
  }
}

/******************************************************************************************************************************************************
MEDIA QUERIES
*******************************************************************************************************************************************************/
/* for 415px or more */
@media screen and (min-width: 415px) {
  html {
    background: url("../images/emptyroom.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  img {
    transform: scale(0.6);
    height: auto;
  }
  #logout:hover {
    animation: swing ease-in-out 0.5s infinite alternate;
    transform-origin: top -20px;
    top: -25px;
  }
  .hover:hover {
    transform: scale(0.65);
    filter: drop-shadow(16px 16px 16px #ffffff);
  }
  .fridge_container { 
    background-image:url("../images/fridge_ipad.png");
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 0 0;
    width: 600px;
    height: 790px;
    border: 5px solid rgb(190, 183, 183);
   }
  #camera {
    position: absolute;
    top: 25px;
   }
#plus {
    position: absolute;
    top: 15px;
    left: 200px;
   }
  #logout {
      position: absolute;
      top: -40px;
      left: 460px;
  }
  #toast {
      position: absolute;
      top: 150px;
      left: 160px;
  }
  #steak {
      position: absolute;
      top: 360px;
      left: 50px;
  }
  #milk {
      position: absolute;
      top: 360px;
      left: 270px;
  }
  #apple {
      position: absolute;
      top: 560px;
      left: 50px;
  }
  #cabbage {
      position: absolute;
      top: 560px;
      left: 270px;
  }
  .modal-header-meats {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f79178;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
  }
  .modal-footer-meats {
    background-color: #f79178;
    color:#fff;
    height: 35px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.modal-header-fruits {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f3f051;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-fruits {
    color:#fff;
    height: 35px;
    background-color: #f3f051;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
.modal-header-vegetables {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #84f779;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-vegetables {
    color:#fff;
    height: 35px;
    background-color: #84f779;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
.modal-header-dairy {
    color:rgb(7, 7, 7);
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #f0f8ff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-dairy {
    color:#fff;
    height: 35px;
    background-color: #f0f8ff;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
.modal-header-grains {
    color:rgb(0, 0, 0);
    padding:9px 15px;
    border-bottom:1px dotted #eee;
    background-color: #e9b72d75;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-footer-grains {
    color:#fff;
    height: 35px;
    background-color: #e9b72d75;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
  }
  .add {
    position: absolute;
    left: 510px;
    top: 45px;
  }

}

