body {
    margin: 0;
    padding: 0;
    background: url(../images/backgroundLemon.jpeg);
    background-position: center;
    font-family: sans-serif;
}

#login {
  background: #34b4a0;
}

#confirmPassword{
  display: none;
  visibility: hidden;
}

#zeButton {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Fredoka One';
  color: white;
  font-size: 3.5em ;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 3px 3px black;


}

#lock{
  display: none;
  visibility: hidden;
}


.title {
  font-family: 'Fredoka One';
  color: white;
  font-size: 3.5em ;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 3px 3px black;

  }


#heading {
  text-align: center;
  /* border: 2px solid white; */
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;

}

#egg {
  display: none;
}

#title {
    padding-top: 50px;
    color: azure;
}

.img {
    position: relative;
    top: 12px;
}

.container {
    width: 350px;
    margin: auto;
}

.signup,
.login {
    width: 175px;
    background: rgba(255, 255, 255, 0.767);
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;
}

.signup-form,
.login-form {
    margin: auto;
    background: rgba(255, 255, 255, 0.767);

    padding: 45px 15px;
    clear: both;
    width: 320px;
    height: 30%;
}

.input {
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transition: all 0.5s ease;
}

.input:focus {
    border: 2px solid #34b4a0;
}


.aButton {
    width: 100%;
    background: #34b4a0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}

span a {
    text-decoration: none;
    color: #000;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

.alert1 {
  text-align: center;
  padding: 10px;
  background: #91303C;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}



/******************************************************************
MEDIA QUERIES
******************************************************************/

/* for 425px or less */
@media screen and (max-width: 425px) {

.container {
    width: 75%;
}

.signup, .login {
    width: 50%;
    margin: none;
    background: rgba(255, 255, 255, 0.767);
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    text-transform: uppercase;
}

.signup-form, .login-form {
    width: 75%;
    height: 40%;
    margin: none;
    border: none;
    background: rgba(255, 255, 255, 0.767);
    box-sizing: border-box;
    /*padding: 45px 15px; */
    clear: both;
}

}
#heading2 {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
<<<<<<< HEAD
    font-size: 1em;;
    background-color: aliceblue;
    opacity: 0.8;
=======
    font-size: 180%;
>>>>>>> d6061499efaa5feaa642241ff194d18f229159af
}

a {
  text-decoration: none !important;
}
